body
{
	
	background-image:url(../images/background.jpg);
	font-size:2em;
/* below styles are the default -- take effect at resolutions <768 px */
.logo {
	
	margin-left:20px;
	text-align: center;
	}
	

.tagline {
	margin-left:300px;
	margin-top:-30px;
}

/* footer styling for all resolutions */

.siteinfo {
	text-align: center;
	padding: 3em 0;
	border-top: 1px solid #ddd;
	width:50%;
}
.siteinfo a {
	text-decoration: none;
	color: #999;
	font-size: 0.8em;
	width:50%;
}
.siteinfo a:hover {
	color: #602F8D;
	text-decoration: underline;
	width:50%;
}
.modal-content
{
	background-image:url(../images/background.jpg);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ad550e;
  border-color: #ad550e;
}
.modal-body.center-block{
	padding-bottom:2em;
}
.social .icons > li {
    border-radius: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    list-style:none;
}
/* Small devices (tablets, 768px and up) 

Greater than 768 px, push logo left and tagline right. Alter 
tagline font size, alignment, and padding for larger dimensions.

*/
@media (min-width: 768px) {  
	.logo {
		text-align: left;
	}
	.tagline {
		font-size: 2em;
		text-align: right;
		padding-top: 1.6em;
	}
	.row{
	background-image:url(images/header-bg.jpg);
}
}